/*
Twisted Spot Palette
#E0E0E0 helles grau
#00754B gesättigtes dunkelgrün
#C8FCEA pastellgrün
#6A9A8B ungesättigtes dunkelgrün


font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

/*General*/

body {
    margin: 0;
    padding: 0;
    background-color: #E0E0E0;
}

h1, h2, h3, h4, h5, h6, a, p, label {
    font-family: 'Montserrat', sans-serif;
}

a, p, label {
    font-size: 16px;
}

input {
    border-style: none;
    border-bottom: 4px solid #6A9A8B;
    border-radius: 1px;
    background-color: #E0E0E0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 20px;
    margin: 10px 5px;
    text-align: center;
}

/*Timer*/

#countdown {
    float: left;
    margin: 10px 40px;
}

#countdown-form input {
    width: 100px;
}

button {
    border-style: none;
    background-color: #6A9A8B;
    color: #E0E0E0;
    transition: all 500ms;
}

button:hover {
    opacity: .6;
    cursor: pointer;
}

.text-button {
    width: 75px;
    height: 30px;
    font-size: 16px;
    margin: 10px 5px;
    border-radius: 5px;
}

#error-message {
    transition: all 200ms;
}

#timer {
    font-size: 50px;
}

#error-message {
    border: 2px solid #f66;
    border-radius: 3px;
    padding: 5px;
    background-color: #fcc;
    color: #811;
}



/*ToDo List*/

#todo-list {
    float: right;
    margin: 10px 40px;
}

#new-todo {
    width: 300px;
}

.icon-button {
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 17px;
    margin: 0 5px 0 0;
    border-radius: 50%;
}




/*Responsive*/

@media only screen and (max-width: 700px) {
    #countdown {
        float: none;
    }
    #todo-list {
        margin-top: 100px;
        float: none;
    }
}
